@import "/UI/Theme.scss";

Scoreboard
{
	position: absolute;
	justify-content: center;
	align-items: center;
	font-family: $body-font;
	font-size: 18px;
	opacity: 0;
	transform: translateY( -32px ) scale( 1.02 );
	transition: all 0.1s ease-in;
	background-color: rgba( 0, 0, 0, 0.5 );
	backdrop-filter: blur( 10px );
	margin: auto;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 9199;
	gap: 16px;

	.voting
	{
		width: 20%;
	}

	.body
	{
		flex-direction: column;
	}

	.title
	{
		width: 100%;
		align-items: center;
		flex-direction: column;
		padding: 0px 32px;

		label
		{
			font-size: 32px;
			font-weight: 600;
			opacity: 1;
			height: 40px;
			text-shadow: 1px 1px 5px black;
		}

		.big
		{
			font-size: 40px;
			font-weight: 900;
			color: white;
			height: 58px;
			border-bottom: 5px solid $color-accent;
			margin-bottom: 16px;
		}

		> .small
		{
			font-size: 18px;
			color: linear-gradient( to right, #cdf, #8ea3ce );
		}
	}

	.avatar
	{
		margin-left: 4px;
		width: 28px;
		border-radius: 50%;
		height: 28px;
		box-shadow: 0px 0px 10px rgba( #cdf, 0.2 );
	}

	.avatar-spacer
	{
		margin-left: 4px;
		width: 28px;
	}

	.mute-spacer
	{
		width: 36px;
	}

	.table
	{
		overflow: hidden;
		flex-direction: column;
		width: 600px;
		color: #cdf;
		border-radius: 2px;
		min-height: 256px;
		max-height: 1024px;
		min-width: 768px;

		.center label
		{
			flex-grow: 1;
			text-align: center;
		}

		.col
		{
			flex-direction: column;
			padding: 8px;
			gap: 4px;
		}

		.row
		{
			width: 100%;
			white-space: nowrap;
			align-items: center;
			border-radius: 8px;
			padding: 4px 8px;
			gap: 8px;

			> .name
			{
				font-weight: 600;
				flex-grow: 1;
			}

			> .stat
			{
				width: 100px;
				justify-content: center;
				text-transform: lowercase;
				font-weight: 600;
			}
		}

		.header
		{
			align-items: flex-end;
			justify-content: flex-end;

			> .stat
			{
				font-size: 16px;
				font-weight: 600;
				opacity: 0.2;
				height: 20px;
			}
		}

		.mute-btn
		{
			width: 36px;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			opacity: 0.3;
			transition: opacity 0.15s ease;
			font-size: 20px;

			&:hover
			{
				opacity: 0.8;
			}

			&.muted
			{
				opacity: 0.6;
				color: #e55;

				&:hover
				{
					opacity: 1;
				}
			}
		}

		.player
		{
			height: 50px;
			background-color: rgba( #0c202fcc, 0.7 );
			border: 0.25px solid rgba( black, 0.1 );
			text-shadow: 0px 0px 5px rgba( black, 0.75 );
			transition: all 0.1s ease;

			&.me
			{
				/*background-image: linear-gradient( to right, rgba( black, 0.5 ), rgba( black, 0 ));*/
			}

			&.friend
			{
				.avatar
				{
					box-shadow: 0px 0px 15px rgba( #70cf4f, 0.2 );
				}
			}

			&:hover
			{
				border: 1px solid rgba( black, 0.1 );
				background-color: rgba( #194769cc, 0.4 );
			}
		}
	}

	&.visible
	{
		opacity: 1.0;
		transform: scale( 1 );
		transition: all 0.1s ease-out;
		pointer-events: all;
	}
}
