$deadzone-x: 2vw;
$deadzone-y: 2vw;

$color-accent: #0094ff;
$color-text: #fafaff;

$title-font: "Poppins";
$body-font: "Inter";
$subtitle-font: "Poppins";

@import "/UI/Menu.scss";
@import "/UI/Hud.scss";
