// @author Epyi
@import "/Mirage/UI/Theme/MirageTheme.scss";

MirageDivider
{
    background-color: $mirage-border;
    flex-shrink: 0;

    &.mirage-divider--horizontal
    {
        height: 1px;
        width: 100%;
        margin: $mirage-space-2 0;
    }

    &.mirage-divider--vertical
    {
        width: 1px;
        align-self: stretch;
        margin: 0 $mirage-space-2;
    }
}
